#gitignore
./node_modules
./storage/*.key
./vendor
./document
./tests/Result
./.scribe

./public/docs
./public/storage
./public/assets
./public/mix-manifest.json

./docker/volumes


./.phpunit.result.cache
./Homestead.json
./Homestead.yaml
./npm-debug.log
./yarn-error.log
./supervisord.log*
./schedule.log*
./worker.log*
./supervisord.pid

#other
./storage/app/public/*
./storage/app/scribe/*
./storage/debugbar/*
./storage/logs/*
./storage/app/files/*
./storage/framework/cache/data/*
./storage/framework/sessions/*
./storage/framework/testing/*
./storage/framework/views/*
./Modules/*/Storage/*
!./Modules/*/Storage/example-response
./.editorconfig
./.env.docker
./.env.example
./.env.testing
./.gitattributes
./.gitignore
./.phpunit.result.cache
./.styleci.yml
./_ide_helper.php
./phpcd.xml
./phpdoc.dist.xml
./phpunit.xml
./README.md
./server.php

#additional
./.git
./.idea
